<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     >

    <targets>
        <target name="logfile" xsi:type="File" fileName="F:\Projects\Gateway\PreTraining\Gateway_html_assignment\Source Controll Assignments\Assignment_2\Assignment_2_dotnet_core\Assignment_2_dotnet_core\file.txt" />
        <target name="logconsole" xsi:type="Console" />
		<target name="db"
                xsi:type="Database"
                connectionString="Data Source=msdb.cqwkqgjt9xou.us-east-1.rds.amazonaws.com;Initial Catalog=msdb_new;Persist Security Info=True;User ID=admin;Password=VedanshuTrivedi"
                commandType="StoredProcedure"
                commandText="[dbo].[NLog_AddEntry_p]"
                >
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite"       layout="${callsite}" />
			<parameter name="@exception"      layout="${exception:tostring}" />
		</target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="db" />
    </rules>
</nlog>